.buttonSign {
  margin-left: 55vw;
  margin-top: 2px;
  margin-bottom: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  background-color: #ffb500;
  border-radius: 0.7vw;
  width: 7.5vw;
  height: 2.8vw;
}